.box_category{
    width: 80%;
    margin: .2rem auto 0;
}

.category{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.category_box {
    line-height: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 1rem;
    transform: scale(1);
    z-index: 1;
}

.category_box:hover {
    border: 2px solid var(--icon-color);
    box-shadow: var(--box-shadow);
    transform: scale(1.05);
    z-index: 2;
}

.category_box_img{
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
}

.category_box_title{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.category_box_title span{
    font-size: 3rem;
    margin-top: 1rem;
}

@media screen and (min-device-width: 320px) and
(max-device-width: 425px) {
    .box_category{
        width: 90%;
        margin: 0 auto;
    }


    .category{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-device-width: 427px) and
(max-device-width: 770px) {
    .category{
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-device-width: 772px) and
(max-device-width: 1025px) {
    .category{
        grid-template-columns: repeat(3, 1fr);
    }
}

