.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input, .formGroup select {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.formActions {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: #4c5773;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3b4459;
}
