.filter {
    padding: 4rem 0;
    width: 100%;
}

.filter_box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}

.filter_box_left button {
    border: none;
    outline: none;
    /* margin-right: 10px; */
    padding: 1rem 1.5rem;
    /* background-color: #f0f0f0; */
    border: 1px solid var(--main-bg-color);
    border-radius: 2rem;
    transition: all .3s ease-in;
    font-size: 1.3rem;
    cursor: pointer;
}

.filter_box_left button:hover{
    border: 1px solid var(--icons-color)
}

.filter_box_right {
    display: flex;
    align-items: center;
}

.filter_box_right_box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter_box_items {
    margin-top: 20px;
    padding: 10px;
    /* border-top: 1px solid #ccc; */
}

.filter_box_items_box {
    margin-bottom: 10px;
}

.filter_box_items_box_item,
.filter_box_items_box_item_trans {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter_box_items_box_item span,
.filter_box_items_box_item_trans small {
    margin-left: 10px;
}

@media screen and (min-device-width: 320px) and
(max-device-width: 375px) {
    .filter_box{
        display: grid;
        gap: 4rem;
    }

    .filter_box_left{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .filter_box_left button{
        padding: .2rem;
    }
}