.collection{
    width: 100%;
    padding: 3rem 0;

}

.collection_title{
    width: 35rem;
    margin: 0 auto;
    padding: 0 0 6rem 0;
    text-align: center;
}

.collection_title h2{
    font-size: 3rem;
    margin-bottom: 4rem;

}

.collection_cols_btn{
    background-color: var(--main-bg-color);
    padding: .5rem 1rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow);
}

.collection_cols_btn button{
    background-color: var(--icons-color);
    padding: 1rem;
    color: var(--main-bg-color);
    border: none;
    border-radius: 4rem;
    cursor: pointer;
    border: 1px solid var(--icons-color);
    transition: all .3s ease-in;


}

.collection_cols_btn button:hover{
    background-color: transparent;
    color: var(--icons-color);

}