.searchBar {
    display: flex;
    width: 100%;
}

.SearchBar {
    width: 100%;
}

.SearchBar_box {
    width: 40%;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    align-items: center;
    display: flex;
    border-radius: 5rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.SearchBar_box:hover {
    transform: scale(1.05);
}

.SearchBar_box_icon {
    font-size: 3rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    color: var(--icons-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.SearchBar_box_icon:hover {
    transform: scale(1.2);
}

/* .SearchBar_box_icon.active {
    color: green;
    transform: scale(1.2);
    box-shadow: 0 0 10px green;
} */

.searchInput {
    width: 85%;
    padding: 2rem;
    border: 0;
    outline: 0;
    background-color: var(--main-bg-color);
    color: var(--icons-color);
    border-radius: 5rem;
    font-size: 1rem;
}

.searchInput::placeholder {
    color: var(--icons-color);
    font-size: 1.2rem;
}

@media screen and (max-width: 35rem) {
    .SearchBar_box {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
